---
import Badge from "./Badge.astro";
import EventButton from "./EventButton.astro";

// Definir la fecha del evento
const targetDate = new Date("2024-10-09T10:00:00").getTime(); // Obtener el tiempo en milisegundos
const now = new Date().getTime(); // Obtener el tiempo en milisegundos
const eventInProgress = targetDate - now <= 0; // Comparar tiempos en milisegundos

// URL de la ubicación del evento
const locationURL =
  "https://www.google.es/maps/place/IMMUNE+Technology+Institute/@40.4496289,-3.6945551,17z/data=!3m2!4b1!5s0xd4228e343d1ae51:0xdff3b6df8b3f856a!4m6!3m5!1s0xd4229189dbac4db:0x5400e56fb9abf5b1!8m2!3d40.4496248!4d-3.6919802!16s%2Fg%2F11h6g486xb?hl=es&entry=ttu&g_ep=EgoyMDI0MDkwMy4wIKXMDSoASAFQAw%3D%3D";
---

{
  eventInProgress ? (
      <p class="text-3xl mb-4">Evento en curso...</p>
      <p class="mb-4">
        Conéctate online al <a
          href="https://immune-institute.zoom.us/webinar/register/WN_o3_jopHKToeDb7v6pw1L5g"
          target="_blank"
          class="underline"
        > Espacio 1 </a> / <a
          href="https://us06web.zoom.us/webinar/register/WN_iIJS0MaiQz2NuJpS8lbMwg"
          target="_blank"
          class="underline"
        >Espacio 2</a> o ven a nuestro campus en 
        <a href={locationURL} target="_blank" class="underline">
          P.º de la Castellana, 89, Tetuán, 28046 Madrid
        </a>
      </p>
  ) : (
      <p id="countdown" class="text-3xl mb-4 select-none" />
      <p class="mb-4">
        Conéctate online o ven a nuestro campus en 
        <a href={locationURL} target="_blank" class="underline">
          P.º de la Castellana, 89, Tetuán, 28046 Madrid
        </a>
      </p>
      <div class="flex justify-center gap-1 flex-wrap">
        <h2>
          <Badge text="Te esperamos el 9 de octubre del 2024" red />
        </h2>
        <EventButton />
      </div>
  )
}

<script is:inline>
  const countdownDate = new Date("2024-10-09T10:00:00").getTime();

  const updateCountdown = () => {
    const now = new Date().getTime();
    const distance = countdownDate - now;

    if (distance < 0) {
      clearInterval(x);
      return;
    }

    const days = Math.floor(distance / (1000 * 60 * 60 * 24));
    const hours = Math.floor(
      (distance % (1000 * 60 * 60 * 24)) / (1000 * 60 * 60)
    );
    const minutes = Math.floor((distance % (1000 * 60 * 60)) / (1000 * 60));
    const seconds = Math.floor((distance % (1000 * 60)) / 1000);

    document.getElementById("countdown").innerHTML =
      `${days}d ${hours}h ${minutes}m ${seconds}s `;
  };

  const x = setInterval(updateCountdown, 1000);
  updateCountdown();
</script>
