---
import data from "../data/data.json";
import Badge from "./Badge.astro";
import EventButton from "./EventButton.astro";

const targetDate = new Date("2024-10-09T10:00:00").getTime();
const now = new Date().getTime();
const eventInProgress = targetDate - now <= 0;
---

{
  eventInProgress ? (
    <>
      <p class="text-3xl mb-4">Evento en curso...</p>
      <p class="mb-4">
        Conéctate online al{" "}
        <a
          href="https://immune-institute.zoom.us/webinar/register/WN_o3_jopHKToeDb7v6pw1L5g"
          target="_blank"
          class="underline"
        >
          Espacio 1
        </a>{" "}
        /{" "}
        <a
          href="https://us06web.zoom.us/webinar/register/WN_iIJS0MaiQz2NuJpS8lbMwg"
          target="_blank"
          class="underline"
        >
          Espacio 2
        </a>{" "}
        o ven a nuestro campus en{" "}
        <a href={data.legal.address.url} target="_blank" class="underline">
          {data.legal.address.text}
        </a>
      </p>
    </>
  ) : (
    <>
      <p id="countdown" class="text-3xl mb-4 select-none" />
      <p class="mb-4">
        Conéctate online o ven a nuestro campus en
        <a href={data.legal.address.url} target="_blank" class="underline">
          {data.legal.address.text}
        </a>
      </p>
      <div class="flex justify-center gap-1 flex-wrap">
        <h2>
          <Badge text="Te esperamos el 9 de octubre del 2024" red />
        </h2>
        <EventButton />
      </div>
    </>
  )
}

<script is:inline>
  const countdownDate = new Date("2024-10-09T10:00:00").getTime();

  const updateCountdown = () => {
    const now = new Date().getTime();
    const distance = countdownDate - now;

    if (distance < 0) {
      clearInterval(x);
      return;
    }

    const days = Math.floor(distance / (1000 * 60 * 60 * 24));
    const hours = Math.floor(
      (distance % (1000 * 60 * 60 * 24)) / (1000 * 60 * 60)
    );
    const minutes = Math.floor((distance % (1000 * 60 * 60)) / (1000 * 60));
    const seconds = Math.floor((distance % (1000 * 60)) / 1000);

    document.getElementById("countdown").innerHTML =
      `${days}d ${hours}h ${minutes}m ${seconds}s `;
  };

  const x = setInterval(updateCountdown, 1000);
  updateCountdown();
</script>
