---
import Areas from "../components/Areas.astro";
import data from "../data/data.json";
import Section from "./Section.astro";
---

<Section id="empresas" t1="Buscan" t2="talento" light>
  <div class="grid gap-10 lg:grid-cols-2 lg:items-center">
    <div>
      <p class="mb-4">
        <strong>Madrid4tech</strong> regresa este <strong>{data.date}</strong>
        en su {data.edition} edición, reuniendo a las empresas líderes en tecnología
        y a los profesionales más brillantes en un evento interactivo y dinámico.
      </p>
      <p class="mb-4">
        Con el objetivo de forjar conexiones significativas entre empresas
        innovadoras y talentos emergentes, este evento es una oportunidad única
        para aquellos especializados en <Areas /> enorgulleciéndonos contar con la
        participación de reconocidas empresas del sector tecnológico, las cuales
        están en búsqueda activa de profesionales apasionados y con ganas de transformar
        el futuro.
      </p>
      <p class="mb-4">
        Estas organizaciones son pioneras en sus respectivos campos, ofreciendo
        no solo oportunidades de empleo sino también la posibilidad de trabajar
        en proyectos vanguardistas y soluciones innovadoras.
      </p>
    </div>

    <div class="grid grid-cols-2 md:grid-cols-4 lg:grid-cols-3 gap-1">
      {
        data.business.map((item: { src: string; alt: string }) => (
          <>
            <div class="flex flex-col items-center justify-center p-5 relative overflow-hidden">
              <img
                src={`https://publicimmuneassets.s3.eu-west-1.amazonaws.com/logos/${item.src}`}
                alt={item.alt}
                width="144"
                height="40"
                loading="lazy"
                class="absolute blur-3xl hover:blur-2xl transition"
              />
              <img
                src={`https://publicimmuneassets.s3.eu-west-1.amazonaws.com/logos/${item.src}`}
                alt={item.alt}
                width="144"
                height="40"
                loading="lazy"
                class="w-auto max-w-36 h-10 object-contain"
              />
              <h3 class="hidden">{item.alt}</h3>
            </div>
          </>
        ))
      }
    </div>
  </div>
</Section>
