---
import SEO from "../components/SEO.astro";

interface Props {
  title: string;
  description: string;
  keywords: string;
  canonical: string;
  robots: string;
  img: string;
}

const { title, description, keywords, canonical, robots, img } = Astro.props;
---

<!doctype html>
<html lang="es">
  <head>
    <SEO
      title={title}
      description={description}
      keywords={keywords}
      canonical={canonical}
      robots={robots}
      img={img}
    />
  </head>
  <body
    class="bg-neutral-950 font-sans text-neutral-50 overflow-x-hidden min-h-dvh"
  >
    <slot />
  </body>
</html>

<style is:global>
  :root {
    --swiper-theme-color: theme(colors.primary.400) !important;
  }

  ::selection {
    @apply bg-primary-400 text-neutral-50;
  }

  /* Layout */

  .container {
    @apply max-w-7xl px-4 mx-auto;
  }
</style>
