---
import SEO from "../components/SEO.astro";

interface Props {
  title: string;
  description: string;
  keywords: string;
  canonical: string;
  robots: string;
  img: string;
}

const { title, description, keywords, canonical, robots, img } = Astro.props;
---

<!doctype html>
<html lang="es">
  <head>
    <SEO
      title={title}
      description={description}
      keywords={keywords}
      canonical={canonical}
      robots={robots}
      img={img}
    />
    <link rel="preload" href="/assets/images/expoimmune.webp" as="image" />
    <link rel="preload" href="/assets/images/madrid.webp" as="image" />
    <link rel="preload" href="/assets/images/audiencia.webp" as="image" />
  </head>
  <body
    class="bg-neutral-950 font-sans text-neutral-50 overflow-x-hidden min-h-dvh"
  >
    <slot />
  </body>
</html>

<style is:global>
  :root {
    --swiper-theme-color: theme(colors.primary.400) !important;
  }

  ::selection {
    @apply bg-primary-400 text-neutral-50;
  }

  /* Forms */

  .hbspt-form,
  form {
    @apply lg:min-h-dvh;
  }

  .hbspt-form form {
    @apply bg-neutral-800/25 backdrop-blur-2xl p-5 accent-primary-400 flex flex-col justify-center;
  }

  .hbspt-form fieldset {
    max-width: 100% !important;
    margin-bottom: 1em !important;
  }

  .hbspt-form
    label:not(.hs-form-checkbox-display, .hs-form-booleancheckbox-display) {
    @apply text-sm opacity-75;
  }

  .hbspt-form input:not([type="checkbox"], .hs-button),
  .hbspt-form select {
    @apply bg-transparent border border-neutral-50/25 h-10 px-2;
  }

  .hbspt-form .input > .hs-input {
    width: 100% !important;
  }

  .hbspt-form input[type="checkbox"] {
    @apply me-1;
  }

  .hbspt-form select {
    @apply appearance-none rounded-none;
  }

  .hbspt-form option {
    color: initial;
  }

  .hbspt-form ul {
    @apply flex flex-wrap items-center gap-x-4 gap-y-2;
  }

  .hbspt-form a {
    @apply underline;
  }

  .hbspt-form .hs-button {
    @apply border border-neutral-50/25 py-2 px-4 cursor-pointer;
  }

  .hbspt-form .submitted-message {
    @apply w-full h-full flex items-center justify-center text-center;
  }
</style>
